.icon-chevron-brand_prim { background-image: url('png/chevron-brand_prim.png'); background-repeat: no-repeat; }

.icon-chevron-gray { background-image: url('png/chevron-gray.png'); background-repeat: no-repeat; }

.icon-chevron-gray_light { background-image: url('png/chevron-gray_light.png'); background-repeat: no-repeat; }

.icon-chevron-light { background-image: url('png/chevron-light.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav-brand_prim { background-image: url('png/chevron-slider-nav-brand_prim.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav-gray { background-image: url('png/chevron-slider-nav-gray.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav-gray_light { background-image: url('png/chevron-slider-nav-gray_light.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav-light { background-image: url('png/chevron-slider-nav-light.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav-white { background-image: url('png/chevron-slider-nav-white.png'); background-repeat: no-repeat; }

.icon-chevron-slider-nav { background-image: url('png/chevron-slider-nav.png'); background-repeat: no-repeat; }

.icon-chevron-white { background-image: url('png/chevron-white.png'); background-repeat: no-repeat; }

.icon-chevron { background-image: url('png/chevron.png'); background-repeat: no-repeat; }

.icon-fb-icon-brand_prim { background-image: url('png/fb-icon-brand_prim.png'); background-repeat: no-repeat; }

.icon-fb-icon-gray { background-image: url('png/fb-icon-gray.png'); background-repeat: no-repeat; }

.icon-fb-icon-gray_light { background-image: url('png/fb-icon-gray_light.png'); background-repeat: no-repeat; }

.icon-fb-icon-light { background-image: url('png/fb-icon-light.png'); background-repeat: no-repeat; }

.icon-fb-icon-white { background-image: url('png/fb-icon-white.png'); background-repeat: no-repeat; }

.icon-fb-icon { background-image: url('png/fb-icon.png'); background-repeat: no-repeat; }

.icon-github-icon-brand_prim { background-image: url('png/github-icon-brand_prim.png'); background-repeat: no-repeat; }

.icon-github-icon-gray { background-image: url('png/github-icon-gray.png'); background-repeat: no-repeat; }

.icon-github-icon-gray_light { background-image: url('png/github-icon-gray_light.png'); background-repeat: no-repeat; }

.icon-github-icon-light { background-image: url('png/github-icon-light.png'); background-repeat: no-repeat; }

.icon-github-icon-white { background-image: url('png/github-icon-white.png'); background-repeat: no-repeat; }

.icon-github-icon { background-image: url('png/github-icon.png'); background-repeat: no-repeat; }

.icon-icon-envelope-brand_prim { background-image: url('png/icon-envelope-brand_prim.png'); background-repeat: no-repeat; }

.icon-icon-envelope-gray { background-image: url('png/icon-envelope-gray.png'); background-repeat: no-repeat; }

.icon-icon-envelope-gray_light { background-image: url('png/icon-envelope-gray_light.png'); background-repeat: no-repeat; }

.icon-icon-envelope-light { background-image: url('png/icon-envelope-light.png'); background-repeat: no-repeat; }

.icon-icon-envelope-white { background-image: url('png/icon-envelope-white.png'); background-repeat: no-repeat; }

.icon-icon-envelope { background-image: url('png/icon-envelope.png'); background-repeat: no-repeat; }

.icon-menu-icon-brand_prim { background-image: url('png/menu-icon-brand_prim.png'); background-repeat: no-repeat; }

.icon-menu-icon-gray { background-image: url('png/menu-icon-gray.png'); background-repeat: no-repeat; }

.icon-menu-icon-gray_light { background-image: url('png/menu-icon-gray_light.png'); background-repeat: no-repeat; }

.icon-menu-icon-light { background-image: url('png/menu-icon-light.png'); background-repeat: no-repeat; }

.icon-menu-icon-white { background-image: url('png/menu-icon-white.png'); background-repeat: no-repeat; }

.icon-menu-icon { background-image: url('png/menu-icon.png'); background-repeat: no-repeat; }

.icon-wikia-logo-brand_prim { background-image: url('png/wikia-logo-brand_prim.png'); background-repeat: no-repeat; }

.icon-wikia-logo-gray { background-image: url('png/wikia-logo-gray.png'); background-repeat: no-repeat; }

.icon-wikia-logo-gray_light { background-image: url('png/wikia-logo-gray_light.png'); background-repeat: no-repeat; }

.icon-wikia-logo-light { background-image: url('png/wikia-logo-light.png'); background-repeat: no-repeat; }

.icon-wikia-logo-white { background-image: url('png/wikia-logo-white.png'); background-repeat: no-repeat; }

.icon-wikia-logo { background-image: url('png/wikia-logo.png'); background-repeat: no-repeat; }

