/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

html, body {
  height: 100%;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

.site-header {
  margin-top: @line-height-computed * 3;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.navigation-top-container {
  margin-top: -@line-height-computed * 3;
  min-height: @line-height-computed * 3;
  position: fixed;
  z-index: @zindex-navbar-fixed;
}

.navigation {
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);
  display: table;
  height: @line-height-computed;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

.navigation .nav-wrapper {
  float: right;
  height: (@line-height-computed * 3);
}


.navigation .logo {
  display: block;
  float: left;
  height: (@line-height-computed * 3);
  line-height: (@line-height-computed * 3);
  margin-left: 4px;
  padding: 0 15px;
}

.navigation .logo img {
  display: block;
  height: 40px;
  margin-top: 25px;
}

.navigation nav {
  clear: none;
  float: right;
  font-size: 1.063em;
  min-height: @line-height-computed * 3;
}

.navigation nav ul {
  margin-right: 20px;
}

.navigation nav a {
  line-height: (@line-height-computed * 3);
  height: (@line-height-computed * 3);
  padding: 0 20px;
  text-transform: uppercase;
}

.navigation nav ul a:hover,
.navigation nav ul a.active {
  border-bottom: 5px solid @brand-secondary ;
  background-color: transparent;
}

.navigation .menu-button {
  line-height: (@line-height-computed * 3);
  height: (@line-height-computed * 3);
  width: (@line-height-computed * 3);
  text-align: center;
  float: right;
}

.navigation .menu-icon path {
  fill: @brand-secondary;
}

.navigation .menu-icon:hover{
  background: @brand-secondary;
}

.navigation .menu-icon:hover path{
  fill: #fff;
}

.navigation a.btn-wikia-light {
  line-height: @btn-default-height;
}

.navigation .btn-wikia-light {
  margin-top:23px;
  margin-right: 13px;
  float: right;
  height: auto;
  padding: 0;
  text-transform: none;
}

.navigation .btn-wikia-light:hover {
  border-bottom-width: 1px;
}

.btn-arrow {
  padding:0;
}
.btn-arrow span {
  display: block;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-image: url(../img/chevron-gray-light.svg);
  padding: 0 30px 0 15px;
}

.btn-arrow span:hover {
  background-image: url(../img/chevron-white.svg);
}

.btn-arrow.btn-wikia-white span {
  background-image: url(../img/chevron-white.svg);
}

.btn-envelope {
  background-image: url(../img/icon-envelope.svg);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  margin-bottom: @line-height-computed;
  margin-left: 60px;
  margin-top: @line-height-computed;
  padding:0;
  vertical-align: top;
}

.btn-envelope span {
  border-left: 1px solid #fff;
  display: block;
  margin-left: 42px;
  padding: 0 15px 0 15px;
}

.btn-envelope:hover {
  border-color: #fff;
}

.btn-envelope:hover span {
  background-color: #fff;
  color: @brand-secondary;
  transition: all .2s linear;
}

.btn-arrow.btn-wikia-white span {
  background-image: url(../img/chevron-white.svg);
}

.btn-wikia-regular.btn-arrow span {
  background-image: url(../img/chevron-gray.svg);
}

.btn-wikia-regular.btn-arrow:hover span {
  background-image: url(../img/chevron-white.svg);
}

.btn-wikia-light.btn-arrow span {
  background-image: url(../img/chevron-gray-light.svg);
}

.btn-wikia-light.btn-arrow:hover span {
  background-image: url(../img/chevron-white.svg);
}


#preloadedImages {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url(../img/chevron-blue.svg);
}




/* ==========================================================================
   Mainpage sections
   ========================================================================== */

.dim {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Main header section */

.site-header {
  height: 575px;
  text-align: center;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header>.row {
  .dim;
  height: 100%;
}

.site-header>.row>div {
  display: table;
  height: 100%;
}

.site-header .middled {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.site-header-message,
.site-header-sub-message {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.site-header-sub-message {
  font-size: @font-size-h3;
  margin-bottom: 35px;
}

.site-header .scroll-down {
  color:#fff
}


/* Benefits section */

.benefits-banner {
  background: url("../img/wikia-benefits.jpg") no-repeat 0 50%;
  background-size: cover;
  height: 260px;
}

.benefits-banner .row {
  height: 100%;
}

.benefits-banner>.row>div {
  display: table;
  height: 100%;
}

.benefits-banner .middled {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

.benefits-description {
  padding-bottom: 64px;
  padding-top: 44px;
  text-align: center;
}

.benefits-description h3 {
  color: @brand-secondary;
  margin-top: 0;
}

.benefits-description [class*="feature-icon-"] {
  background: url('../img/features-icons.jpg') no-repeat;
  display: inline-block;
  height: 53px;
  margin-top: 1em;
  width: 43px;
}

.benefits-description .feature-icon-02 {
  background-position: -43px 0;
}

.benefits-description .feature-icon-03 {
  background-position: -43px -53px;
}

.benefits-description .feature-icon-04 {
  background-position: 0 -53px;
}


/* Join us section */

.join-us {
  background: url("../img/qaga.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 345px;
  text-align: center;
}

.join-us .row {
  height: 100%;
}

.join-us>.row>div {
  display: table;
  height: 100%;
}

.join-us .middled {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}



/* ==========================================================================
   Job offers section
   ========================================================================== */
.job-offers {
  padding-bottom: 70px;
  padding-top: 50px;
  text-align: center;
}

.job-offers .row {
  display: flex;
}

.job-offers [class*="col-"] {
  display: flex;
  flex-flow: column;
}


.job-offers h2 {
  font-family: @font-family-base;
}

.btn-container {
  margin-top: auto;
}


/* ==========================================================================
   Stats section
   ========================================================================== */
.stats {
  background: @brand-secondary;
  color: #fff;
  padding-top: 0;
  text-align: center;
}

.stats h2 {
  margin-bottom: 36px;
}

.stats h3 {
  border-bottom: 1px solid #fff;
  display: inline-block;
  font-size: floor(@font-size-base * 0.9);
  margin-bottom: 3em;
  margin-top: 1.6em;
  padding-bottom: 1.25em;
  text-transform: uppercase;
}

.stats .number {
  display: block;
  font-family: open_sanslight;
  font-size: @font-size-h2;
}



/* ==========================================================================
   Career-paths section
   ========================================================================== */
.career-paths {
  padding-bottom: @line-height-computed * 3;
  padding-top: @line-height-computed * 3;
}

.avatars-map-container {
  text-align: center;
}

.avatars-map-container svg {
  max-height: 420px;
  max-width: 420px;
}

.avatars-map a {
  text-decoration: none;
}

.avatars-map a circle {
  transition: all .2s linear;
}

.avatars-map a circle {
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.15);

}

.avatars-map a .hover-color {
  fill: rgba(red(@brand-secondary), green(@brand-secondary), blue(@brand-secondary), 0);
}
.avatars-map a:hover .hover-color {
  fill: rgba(red(@brand-secondary), green(@brand-secondary), blue(@brand-secondary), 1);
}

.avatars-map .name-container {
  position: relative;
  display: none;
}

.avatars-map a:hover .name-container {
  display: block;
}

.avatars-map .name {
  .h5;
  color: #fff;
  display: table-cell;
  height: 200px;
  padding: 10px;
  width: 200px;
  vertical-align: middle;
}

.avatars-map p {
  margin: 0;
}


/* Quick form section */

.quick-contact {
  background: #f2f2f2;
  padding-bottom: 30px;
  padding-top: 30px;
}

.quick-contact form {
  margin-top: 2em;
}

.submit-group  {
  margin-top: 13px;
}
.submit-group button[type="submit"] {
  float: right;
}

.submit-group .help-block {
  color: @brand-teritary;
  font-size: @font-size-small;
}


/* news section */

.news-feed {
  background: #000;
  color: #fff;
  font-size: 0.7em;
  line-height: @line-height-computed-sm;
  padding-bottom: 70px;
  padding-top: 35px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.news-feed h3 {
  font-size: @font-size-h3 * 0.7;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

.news-feed .post-date {
  display: block;
}

.news-feed .date {
  font-weight: bold;
}

.news-feed .post-author img {
  height: 1.5em;
  vertical-align: middle;
}

.news-feed .news-item {
  background-size:cover;
  background-repeat: no-repeat;
  height: auto;
  margin-bottom: 2em;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  width:100%;
}

.news-feed .dim-xs-min>div {
  .dim;
  padding-bottom: 1em;
}

/* Contact for help section */

.contact-for-help {
  padding-bottom: 14px;
  padding-top: 14px;
}

.contact-for-help h2 {
  display: inline-block;
  margin-bottom: @line-height-computed;
  margin-top: @line-height-computed;
}



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */


.footer {
  background-color: @brand-primary;
  padding: 32px 0;
}

.footer .logo svg * {
  fill:#fff;
}

.footer-nav {
  text-align: right;
}

.footer-nav .text-links {
  float: right;
  margin-top: 0.35em;
}

.footer-nav li {
  display: inline-block;
  list-style: none;

}

.footer-nav a {
  border-right: 1px solid #fff;
  color: #fff;
  line-height: 1em;
  padding: 0 21px 0 18px;
}

.footer-nav li:last-child a {
  border: 0;
  padding-right: 0;
}

.social-icons a {
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  width: 40px;
}

.social-icons a:hover {
  background-color: @brand-secondary;
}

.social-icons {
  float: right;
  border: 1px solid #fff;
  margin-left: 32px;
  padding: 0;
}

.social-icons ul {
  display: table;
}

.social-icons li {
  display: table-cell;
}




/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft {
  float: left;
  margin-right: @grid-xxs-gutter-width;
  @media (min-width: @screen-xs-min) {
    margin-right: @grid-xs-gutter-width;
  }
  @media (min-width: @screen-sm-min) {
    margin-right: @grid-sm-gutter-width;
  }
  @media (min-width: @screen-md-min) {
    margin-right: @grid-md-gutter-width;
  }
  @media (min-width: @screen-lg-min) {
    margin-right: @grid-lg-gutter-width;
  }
}
.alignright {
  float: right;
  margin-left: @grid-xxs-gutter-width;
  @media (min-width: @screen-xs-min) {
    margin-left: @grid-xs-gutter-width;
  }
  @media (min-width: @screen-sm-min) {
    margin-left: @grid-sm-gutter-width;
  }
  @media (min-width: @screen-md-min) {
    margin-left: @grid-md-gutter-width;
  }
  @media (min-width: @screen-lg-min) {
    margin-left: @grid-lg-gutter-width;
  }
}
figure.alignnone { margin-left: 0; margin-right: 0; }






/* ==========================================================================
   Media Queries
   ========================================================================== */




/* ==========================================================================
   Media @screen-md-min
   ========================================================================== */
@media (max-width: @screen-md-max) {

  .job-offers .row {
    flex-flow: wrap;
  }

  .site-header {
    margin-top: @line-height-computed-sm;
  }


  .avatars-map-container svg {
    max-height: 320px;
    max-width: 320px;
  }

/* ==========================================================================
   Navigation
   ========================================================================== */

  .navigation-top-container {
    height: @line-height-computed-sm;
    margin-top: -@line-height-computed-sm;
  }

  .navigation .nav-wrapper {
    float: left;
    height: (@line-height-computed-sm * 2);
  }

  .navigation .logo {
    height: (@line-height-computed-sm * 2);
    line-height: (@line-height-computed-sm * 2);
  }

  .navigation .logo img {
    height: 28px;
    margin-top: 11px;
  }

  .navigation nav, .navbar-collapse.collapse {
    display: block;
    float:left;
    padding-top:5px;
    width: 284px;
    z-index: @zindex-navbar;
  }

  .navigation .nav-animation-wrapper {
    background: #fff;
    box-shadow: inset -14px 0 17px -4px #d9d9d9;
    height: auto;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition-duration: 0.2s;
    transition-property: width;
    width: 0;
  }

  .navigation .nav-animation-wrapper.active {
    width: 284px;
  }

  .navigation nav ul {
    float: none;
    margin: 0;
  }

  .navigation nav li {
    margin-top: @line-height-computed;
    display: block;
    float: none;
  }

  #navigation-nav-ul-a {
    background: url(../img/chevron-gray-light.svg) no-repeat 248px 50%;
    border-left: 5px solid #fff;
    display: block;
    height: (@line-height-computed-sm * 2);
    line-height: (@line-height-computed-sm * 2);
  }

  .navigation nav ul a {
    #navigation-nav-ul-a;
  }

  #navigation-nav-ul-a-hover {
    border-left: 5px solid @brand-secondary;
    border-bottom: 0;
    font-family: open_sansbold;
  }

  .navigation nav ul a:hover,
  .navigation nav ul a.active {
    #navigation-nav-ul-a-hover;
  }

    .navigation .menu-button {
    line-height: (@line-height-computed-sm * 2);
    height: (@line-height-computed-sm * 2);
    width: (@line-height-computed-sm * 2);
  }

  .navigation .menu-icon {
    border-right: 1px solid @btn-wikia-light-border;
    float: left;
    width: 57px;
  }

  .navigation .menu-icon svg {
    height: 24px;
    margin-top: 16px;
    vertical-align: top;
  }

  .navigation a.btn-wikia-light {
    border: 0;
    #navigation-nav-ul-a;
    background-color: transparent;
    border-radius: 0;
    color: @brand-secondary;
    font-size: 1em;
    float: none;
    margin-top: 35px;
    padding: 0 20px;
    text-align: left;
    text-transform: uppercase;
    transition: none;
  }

  .navigation .btn-wikia-light:hover {
    #navigation-nav-ul-a-hover;
  }

  .navigation .btn-wikia-light.btn-arrow span{
    background:transparent;
    padding: 0;
  }

}

@media (max-width: @screen-sm-max) {

  .footer-nav {
    margin-top: 0.5em;
  }

  footer, .footer-nav {
    text-align: center;
  }

  .footer .text-links {
    float: none;
  }

  .footer .text-links {
    padding: 0;
  }

  .footer-nav .text-links li:last-child a {
    padding-right: 21px;
  }

  .social-icons {
    display: inline-block;
    float: none;
    margin: 0;
  }

}


@media (min-width: @screen-xs-min) {

  .news-feed {
    font-size: 0.8em;
  }

  .news-feed h3 {
    margin-top: 1em;
    font-size: @font-size-h3 * 0.8;
  }

  .news-feed .news-item {
    background-size:100%;
    height:0;
    padding-bottom:40%;
  }

  .news-feed .dim-xs-min {
    .dim;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .news-feed .dim-xs-min>div {
    background: transparent;
  }


}

@media (min-width: @screen-sm-min) {

  .quick-contact form {
    margin-top: 0;
  }

  .news-feed {
    font-size: 0.8em;
  }

  .news-feed .news-item {
    margin-bottom: 0;
    line-height: 1.6em;
  }

  .news-feed h3 {
    font-size: @font-size-h3 * 0.8;
    margin-bottom: 0.5em;
    margin-top: 0.7em;
  }


}

@media (min-width: @screen-md-min) {

  .navigation .menu-icon {
    display: none;
  }

  .news-feed {
    font-size: 0.9em;
    line-height: @line-height-computed;
  }

  .news-feed h3 {
    font-size: @font-size-h3 * 0.9;
    margin-top: 1.1em;
  }

}

@media (min-width: @screen-lg-min) {

  .news-feed {
    font-size: 1em;
  }

  .news-feed h3 {
    font-size: @font-size-h3;
  }

  .navigation .nav-animation-wrapper {
    height: auto!important;
  }

}
