/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft {
  float: left;
  margin-right: @grid-xxs-gutter-width;
  @media (min-width: @screen-xs-min) {
    margin-right: @grid-xs-gutter-width;
  }
  @media (min-width: @screen-sm-min) {
    margin-right: @grid-sm-gutter-width;
  }
  @media (min-width: @screen-md-min) {
    margin-right: @grid-md-gutter-width;
  }
  @media (min-width: @screen-lg-min) {
    margin-right: @grid-lg-gutter-width;
  }
}
.alignright {
  float: right;
  margin-left: @grid-xxs-gutter-width;
  @media (min-width: @screen-xs-min) {
    margin-left: @grid-xs-gutter-width;
  }
  @media (min-width: @screen-sm-min) {
    margin-left: @grid-sm-gutter-width;
  }
  @media (min-width: @screen-md-min) {
    margin-left: @grid-md-gutter-width;
  }
  @media (min-width: @screen-lg-min) {
    margin-left: @grid-lg-gutter-width;
  }
}
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-xs-min) { }

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }
