
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
# Replace /wordpress with your production site's domain name
RewriteBase /wordpress/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /wordpress/index.php [L]
</IfModule>

# END WordPress
