.column-break-before(@value : always) {
	-moz-column-break-before:@value;
	-ms-column-break-before:@value;
	-o-column-break-before:@value;
	-webkit-column-break-before:@value;
	column-break-before:@value;
}

.column-break-inside(@value : avoid) {
	-moz-column-break-inside:@value;
	-ms-column-break-inside:@value;
	-o-column-break-inside:@value;
	-webkit-column-break-inside:@value;
	column-break-inside:@value;
}

.column-break-after(@value : always) {
	-moz-column-break-after:@value;
	-ms-column-break-after:@value;
	-o-column-break-after:@value;
	-webkit-column-break-after:@value;
	column-break-after:@value;
}

.column-count(@count) {
	-moz-column-count: @count;
	-webkit-column-count: @count;
	column-cont: @count;
}

.column-gap(@gap) {
	-moz-column-gap: @gap;
	-webkit-column-gap:@gap;
	column-gap: @gap;
}