.column-break-before(@value : always) {
	-moz-column-break-before:@value;
	-ms-column-break-before:@value;
	-o-column-break-before:@value;
	-webkit-column-break-before:@value;
	column-break-before:@value;
}

.column-break-inside(@value : avoid) {
	-moz-column-break-inside:@value;
	-ms-column-break-inside:@value;
	-o-column-break-inside:@value;
	-webkit-column-break-inside:@value;
	column-break-inside:@value;
}

.column-break-after(@value : always) {
	-moz-column-break-after:@value;
	-ms-column-break-after:@value;
	-o-column-break-after:@value;
	-webkit-column-break-after:@value;
	column-break-after:@value;
}

.column-count(@count) {
	-moz-column-count: @count;
	-webkit-column-count: @count;
	column-cont: @count;
}

.column-gap(@gap) {
	-moz-column-gap: @gap;
	-webkit-column-gap:@gap;
	column-gap: @gap;
}


.nav-bar-under-banner {
	border-bottom: 1px solid @nav-tabs-border-color;
	line-height: @line-height-computed * 3;
	text-align: center;

	.go-back {
		display: inline-block;
		text-indent: -10000px;
	}

	.row {
		& > div {

			&:first-child {
				text-align: left;
			}

			&:nth-child(2) {
				text-align: center;
			}

			&:nth-child(3) {
				text-align: right;
			}
		}
	}

	@media (min-width: @screen-sm-min) {

			.go-back {
				text-indent: 0;
			}

	}

}

/* Text formatting */
.font-size-base() {
	font-size: @font-size-base;

	@media (min-width: @screen-sm) {
		font-size: @font-size-small;
	}

	@media (min-width: @screen-lg) {
		font-size: @font-size-large;
	}
}

.line-hieght-base() {
	line-height: @line-height-computed;

	@media (min-width: @screen-lg) {
		line-height: @line-height-computed-lg;
	}
}
