.subtext {
	.subtext-font-size;
	margin: 0 0 (@line-height-computed / 2);
}

.subtext-font-size {
	font-size: @font-size-subtext;
	line-height: @line-height-computed-subtext;

	@media (min-width: @screen-sm) {
		font-size: @font-size-subtext-sm;
		line-height: @line-height-computed-subtext-sm;
	}

	@media (min-width: @screen-lg) {
		font-size: @font-size-subtext-lg;
		line-height: @line-height-computed-subtext-lg;
	}
}

.blockquote {
	font-size: @font-size-blockquote;
	line-height: @line-height-computed-blockquote;
	margin: 0 0 (@line-height-computed / 2);

	@media (min-width: @screen-sm) {
		font-size: @font-size-blockquote-sm;
	}

	@media (min-width: @screen-lg) {
		font-size: @font-size-blockquote-lg;
		line-height: @line-height-computed-blockquote-lg;
	}
}
